body {
    background-color: #1a202c; /* bg-gray-900 */
    color: white;
    background-image: url('https://wallpapers.com/images/hd/technology-background-o6nzu7ou37248em7.jpg');
    background-size: cover;
    background-position: center;
  }